<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    <form (ngSubmit)="onSubmitPhone(phoneForm)" #phoneForm="ngForm">
      <div class="form-group" [class.has-error]="brand.errors && brand.touched">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-fire"></i>
          </span>
          <input type="text" name="brand" class="form-control" placeholder="Brand" [(ngModel)]="phone.brand" #brand="ngModel" required>
        </div>
        <label class="control-label" *ngIf="brand.errors && brand.touched">
          <ul>
            <li *ngIf="brand.errors.required">Required</li>
          </ul>
        </label>
      </div>

      <div class="form-group" [class.has-error]="name.errors && name.touched">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-tag"></i>
          </span>
          <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="phone.name" #name="ngModel" required>
        </div>
        <label class="control-label" *ngIf="name.errors && name.touched">
          <ul>
            <li *ngIf="name.errors.required">Required</li>
          </ul>
        </label>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-tag"></i>
          </span>
          <input type="text" name="specs" class="form-control" placeholder="Spec" #spec>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="addSpec(spec)"><i class="fa fa-plus"></i></button>
          </span>
        </div>
      </div>

      <div class="form-group" *ngFor="let spec of phone.specs">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-tag"></i>
          </span>
          <input type="text" name="spec" class="form-control" placeholder="Spec" [value]="spec" disabled>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="removeSpec(spec)">
              <i class="fa fa-minus"></i>
            </button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-picture"></i>
          </span>
          <input type="file" name="name" class="form-control" #imageFile>
        </div>
      </div>

      <div class="form-group" class="has-error" *ngIf="apiError">
        <label class="control-label">
          {{ apiError }}
        </label>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-block btn-primary" [disabled]="!phoneForm.valid">Add Phone</button>
      </div>
    </form>
  </div>
</div>